<div class="grid grid-pad">
  <div class="gpio-link">
    <span>GUID</span>
    <input type="text" class="gpio-device-id" [(ngModel)] = "deviceId"/>
    <button (click)="link()">Link</button>
    <button (click)="unlink()">Unlink</button>
  </div>
  <div class="gpio-status">
    <gpio-status></gpio-status>
  </div>
  <div class="gpio-control">
    <gpio-move direction="up"></gpio-move>
  </div>
  <div class="gpio-control">
    <gpio-move direction="left"></gpio-move>
    <gpio-stop></gpio-stop>
    <gpio-move direction="right"></gpio-move>
  </div>
  <div class="gpio-control">
    <gpio-move direction="down"></gpio-move>
  </div>
</div>

