<svg width="178" height="66" xmlns="http://www.w3.org/2000/svg">
    <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
    <g>
        <title>background</title>
        <rect fill="#fff" id="canvas_background" height="68" width="180" y="-1" x="-1"/>
        <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
            <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
        </g>
    </g>
    <g>
        <title>Layer 1</title>
        <rect stroke="#000" id="svg_2" height="57.000001" width="169.000011" y="5" x="4.5" fill-opacity="null"
              stroke-opacity="null" stroke-width="1.5" fill="#fff"/>
        <ellipse stroke="#000" ry="14.5" rx="14.5" id="svg_1" cy="44" cx="28" stroke-width="1.5" fill="#fff"/>
        <ellipse stroke="#000" ry="14.5" rx="14.5" id="svg_4" cy="44" cx="68" stroke-width="1.5" fill="#fff"/>
        <ellipse stroke="#000" ry="14.5" rx="14.5" id="svg_5" cy="44" cx="108" stroke-width="1.5" fill="#fff"/>
        <ellipse stroke="#000" ry="14.5" rx="14.5" id="svg_6" cy="44" cx="148" stroke-width="1.5" fill="#fff"/>
        <text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="16" id="svg_7" y="51" x="23.5" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#000000">2</text>
  <text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="16" id="svg_8" y="51" x="63.5" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#000000">3</text>
  <text stroke="#000" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="16" id="svg_9" y="51" x="103.5" fill-opacity="null" stroke-opacity="null" stroke-width="0" fill="#000000">4</text>
  <text stroke="#000" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="16" id="svg_10" y="51" x="143.5" fill-opacity="null" stroke-opacity="null" stroke-width="0" fill="#000000">5</text>
  <text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="16" id="svg_11" y="22" x="49.88282" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#000000">PI2 - GPIO</text>
    </g>
</svg>