svg:hover {
    fill: navy;
}

svg[disabled='true'] {
  fill: lightgray;
}

svg {
    width: 10%;
}

@media screen and (max-width: 480px) {
    svg {
        width: 30%;
    }
}

svg.gpio-move-left{
    transform: rotate(-90deg);
}
svg.gpio-move-right {
    transform: rotate(90deg);
}

svg.gpio-move-reverse {
    transform: rotate(180deg);
}
